.mapContainer {
  margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh ;
    width: 90%;
    overflow: auto;
    background-color: gray;
    border: 5px solid black;
  }
  .mapFilho {
    display: flex;
    width: 53%;
    height: 95%;
    overflow: auto;
  }
  .infos{
    height: 94%;
    width: 45%;
    justify-content: flex-start;
    overflow: auto;
    word-wrap: break-word;
  }
  .texto {
    margin-left: 20%;
    overflow: auto;
    word-wrap: break-word;
  }
  .caixaInfos{
    color: yellow;
    border: 2px dashed white;
    height: 15%;
    width: 80%;
    margin-left: 10%;
    word-wrap: break-word;
  }
  .textoColorido{
    margin-left: 20%;
    overflow: auto;
    word-wrap: break-word;
    color: yellow;
  }

  