header {
    height: 60px;
    width: 100%;
    background-color: darkblue;
    color: white;
    display: flex;
    align-items: center;
    align-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
}

header a {
    color: white;
    font-size: 20px;
}

header a + a {
    margin-left: 10%;
}

.linkSemSublinhado {
    text-decoration: none;
    color: inherit;
  }

  h1{
    width: 80%;
    margin-left: 1%;
  }